body {
  height: 100vh;
}

.content {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 25% 0 25%;
  max-width: 60%;
}

.card {
  padding: 30px;
  margin: 40px 0 40px 0;
}

/* sidebar starts here */

.sidebar {
  top: 10%;
  right: 6%;
  position: fixed;
  overflow: hidden;
  height: 28px;
  width: 28px;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  text-align: center;
  background-color: white;
  transition: all 0.3s;
  z-index: 1;
}

.sidebar.active {
  top: 10%;
  right: 6%;
  position: fixed;
  width: 300px;
  height: 500px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  transition: all 0.3s;
  z-index: 1;
}

.sidebar.active h3{
  padding: 12px 0 7px 0;
}

.sidebar.active li {
  width: 80%;
  margin: auto;
  padding: 7px 10px 7px 10px;
  text-align: left;
}

.sidebar.active ul {
  margin: 10px 0 10px 0;
}

.sidebar.active a {
  color: dimgrey;
  font-weight: bold;
  font-size: 1rem;

}

.sidebar.active a:hover {
  color: black;
  text-decoration: none;
}

.sidebar-icon {
  color: dimgrey;
  width: 14%;
  margin: 0px 12px 0 12px;
}

.sidebar-toggle {
  background-color: white;
  border: none;
  color: dimgrey;
  position: absolute:
  top: 0;
  right: 0;
}

.sidebar-toggle:hover {
  cursor: pointer;
}

.sidebar-toggle:focus {
  outline: none;
}

.my-detail {
  border-top: 0.5px solid #DCDCDC;
  text-align: center;
  padding: 15px 0 50px 0;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 50%;
  border-collapse: collapse;
}

/* category page */
.category-list {
  margin-top: 50px;
  width: 65vh;
}

.category-list li a {
  color: dimgrey;
}

.category-list li a:hover {
  color: black;
  text-decoration: none;
}
