{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <p class="article-content">
            <h2>关于这个博客</h2>
            <br><br>
           大概五月份的时候我开始照着youtube上一个叫
            <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g" style="color:DimGrey">Corey Schafer</a>
            的博主的Flask教程，一步一步搭起了一个带注册,登录,修改密码头像等功能的简易博客，顺便还部署在了PythonAnywhere上，时间一久毫无意外的就放着吃灰了。
            <br><br>

            最近因为实习结束了的关系，为了找工作也是为了多点点技能树，开始了漫无止境的自学。总之上周突发奇想， 要是有个用来整理笔记的个人博客就好了，
            检索信息起来也比纸质的方便。一琢磨语言也有框架也有，那就折腾吧<br><br>

            出于熟悉框架的想法，这次还是照着视频从头做了遍。在原来的基础上，
            我加了个文章分类的model和routes，还有给post增加了category以及click count这些字段，
            左边参照了<a href="https://www.youtube.com/watch?v=tWpXoi17oXk&t=725s" style="color:DimGrey">这个视频</a>，
            做了一个可动的导航栏，右边原来的sidebar就魔改成了现在的样子。下面那个来访人数的counter，参照的是
            <a href="https://bootsnipp.com/snippets/4MByn" style="color:DimGrey">这里</a>。

            如果兴趣的话，那个Flask教程的视频链接
        <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH" style="color:DimGrey">在这里</a>，
            也可以直接看作者这个项目的<a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog" style="color:DimGrey">Github链接</a>。
            <br><br>
            这个博客的部署也是参照的视频，服务器是在Linode上租的，域名则是在Namecheap上找的，加在一起一个月才6刀。嫌部署过程太麻烦也可以直接用
        <a href="https://www.pythonanywhere.com/" style="color:DimGrey">PythonAnywhere</a>，连域名和服务器的钱都省了。
            博客页面的样式除了bootstrap的元素以外都是东抄抄西抄抄，现在勉强让手机端可以看了。之后等切图切熟练了以后再改好看点吧。
            <br><br>
            <small>2020-10-07</small>
        </p>
    </div>
</article>
{% endblock content %}
