{% extends "layout.html" %}
{% block content %}
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Category?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('categories.delete_category', category_id=category.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

<!---->
<h1 class="mb-3">分类：{{ category.name }}</h1>
{% if is_login %}
    <small class="font-weight-bold">Post count: {{ posts.total }}</small><br>
    <small class="font-weight-bold">Sequence: {{ category.sequence }}</small>
    <div class="media-body">

    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('categories.update_category', category_id=category.id) }}">Update</a>
    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
{% endif %}

    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <small class="text-muted">
                发布于：{{ post.date_posted.strftime('%d-%m-%Y') }} &nbsp;&nbsp;&nbsp;
                分类于：{{ categories_sorted_by_id[post.category_id - 1] }}&nbsp;&nbsp;&nbsp;
                点击数： {{ post.click_count }}
              </small><br><br>
            <p class="article-content">{{ post.content|markdown|truncate }}
                <br><br><a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-outline-secondary btn-sm">Read More</a>
            </p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-dark mb-4" href="{{ url_for('categories.category', category_id=category.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-light mb-4" href="{{ url_for('categories.category',category_id=category.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
