{% extends "layout.html" %}
{% from "articles.html" import display_articles %}
{% block content %}

{% if post_count > 0 %}
    <p>找到约 {{ post_count }} 篇与" {{ keyword }} "相关的笔记, 以下是第 {{ page }} 页</p>
{% else %}
    <p>抱歉，未找到与" {{ keyword }} "相关的笔记</p>
{% endif %}

{{ display_articles(posts, category, categories_sorted_by_id, current_user) }}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-dark mb-4" href="{{ url_for('main.search', keyword=keyword, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-light mb-4" href="{{ url_for('main.search', keyword=keyword, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}
